{% extends "base.html" %}
{% block content %}
<h2>Мои книги</h2>
<a href="{% url 'book_create' %}" class="btn btn-success mb-3">Добавить книгу</a>
<div class="row">
  {% for book in books %}
    <div class="col-md-3">
      <div class="card mb-4">
        <img src="{{ book.cover.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <a href="{% url 'book_edit' book.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
          <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger btn-sm">Удалить</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
